[Unit]
Description=Mapp
Requires=network.target
Requires=postgresql.service
 
[Service]
Type=simple
User=david
Group=david
WorkingDirectory=/var/www/mapp/current
ExecStart=~/.asdf/shims/rails server
TimeoutSec=30
RestartSec=15s
Restart=always
 
[Install]
WantedBy=multi-user.target
