[Unit]
Description=Mapp_Sidekiq
Requires=network.target
Requires=redis.service

[Service]
Type=simple
User=david
Group=david
Environment="RAILS_ENV=production"
WorkingDirectory=/var/www/mapp/current
ExecStart=~/.asdf/shims/sidekiq
TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target
