<span class="page<%= 'has-text-grey-lighter' if page.current? %> ">
  <%= link_to_unless page.current?, page, url, {remote: remote, rel: page.rel, class: "button has-background-grey-lighter"} %>
</span>
