<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to t('.confirm_account_link'), "#{message['redirect-url']}?confirmation_token=@token".html_safe %></p>
