nav.navbar.m-2.p-2 aria-label=("main navigation") role="navigation" 
  .navbar-brand
    = link_to "Mapp", search_path, class: "navbar-brand has-text-dark is-size-3"
    a.navbar-burger aria-expanded="false" aria-label="menu" data-target="burger" role="button" 
      span aria-hidden="true" 
      span aria-hidden="true" 
      span aria-hidden="true" 
  .navbar-menu#burger
    .navbar-start
      = link_to "All Songs", songs_path, class: "navbar-item has-text-dark"
      = link_to "Search", search_path, class: "navbar-item has-text-dark"
      - if user_signed_in?
        = link_to "My Songs", user_songs_path, class: "navbar-item has-text-dark"
    .navbar-end
      .navbar-item
        .buttons
          - if user_signed_in?
            #field style="position: relative"
              button.button#notifications
                | Notifications
            .button#notify Notify me
            = link_to "Profile", profile_path, class: "button is-link"
            = button_to "Log Out", destroy_user_session_path, method: :delete, class: "button"
          - else
            = link_to "Sign Up", new_user_registration_path, class: "button is-primary"
            = link_to "Sign In", new_user_session_path, class: "button"

= render "layouts/error_messages"

javascript:
  document.addEventListener('DOMContentLoaded', () => {

    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    if ($navbarBurgers.length > 0) {
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
          const target = el.dataset.target;
          const $target = document.getElementById(target);
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    }
  });

  notify = document.getElementById("notify")
  field = document.getElementById("field")
  // preField = field.innerHTML
  // field.innerHTML += "<div class='has-background-danger' style='position: absolute; border-color:red; border: solid 1px red; bottom: -20px; right: 0px; border-radius: 0.5rem; max-height: 0px; font-size: 0.8rem; padding: 3px; padding-top: 0px'><div class='has-background-success'><div>some content</div><div>More content</div></div></div>";
  /
  notify.addEventListener("click", (e) => {
    e.preventDefault()
    / notifications.innerHTML = "Notifications<span class='has-background-danger' style='position: absolute; top: -10px; right: -10px; border-radius: 0.5rem; max-height: 20px; font-size: 0.8rem; padding: 3px; padding-top: 0px'>" + notification_count + "</span>"
    console.log("clicked")
    fetch("http://localhost:3000/test")
    console.log("sent")
    // notifications.innerHTML = "Notifications<span class='has-background-danger' style='position: absolute; bottom: 0px; right: 0px; border-radius: 0.5rem; max-height: 500px; max-width: 300px; over-flow:auto; font-size: 0.8rem; padding: 3px; padding-top: 0px'>" + notification_count + "</span>"
  })

  notifications = document.getElementById("notifications")

  ws = new WebSocket("ws://localhost:3000/cable")
  notification_count = 0;

  ws.onmessage = (socketMessage) => {
    const response = socketMessage.data;
    const msg = JSON.parse(response);
    if (msg.type === "ping") {
        return;
    }
    console.log("socket message", msg)
    console.log("FROM RAILS: ", msg);

  }
  ws.onopen = function(event) {
    console.log('WebSocket is connected.');      
    const msg = {
      command: 'subscribe',
      identifier: JSON.stringify({
        id: 1,
        channel: 'NotificationsChannel'
      }),
    }; 
    ws.send(JSON.stringify(msg));
  };
